name: Build image
on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  date:
    name: Get current date in RFC 3339
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.date.outputs.date }}
    steps:
      - name: Get current date in RFC 3339
        id: date
        run: |
          echo "date=$(date --rfc-3339=seconds | sed 's/ /T/')" >> $GITHUB_OUTPUT

  build:
    name: Build and push image
    runs-on: ubuntu-latest
    needs: date
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image for amd64/arm64
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile
          push: true
          build-args: |
            BUILD_DATE=${{ needs.date.outputs.date }}
            VERSION=${{ github.ref_name }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/orbit:latest
            ghcr.io/${{ github.repository_owner }}/orbit:${{ github.ref_name }}
            ${{ vars.DOCKERHUB_USERNAME }}/orbit:latest
            ${{ vars.DOCKERHUB_USERNAME }}/orbit:${{ github.ref_name }}
          labels: |
            org.opencontainers.image.ref.name=${{ github.ref }}
            org.opencontainers.image.revision=${{ github.sha }}
